body {
	background-color: #034f84;
	/* background-color: #01B0D0; */
 background: url('../img/login-background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}